/* md */

@media (min-width: 992px) and (max-width: 1199px) {

	.community-input{padding-left:0 !important; padding-bottom:40px;}
	
	.comments-reply li section{ width:88%}
	
	.navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; margin-right:4px;}
	
	.form-control 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out . 15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
	.btn-default {
/* 	color: #333; */
	 background-color: transparent;
/* 	  border-color: #ccc !important; */
	  }

.btn {
    display: inline-block;
/*     padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sub-container .sub-content { padding: 30px 15px 80px;}

.navbar-form {
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.tool-box-frame-resp{
	padding-right:0px;
	padding-bottom:0px;
}

.community-search-button{padding: 6px 12px;}

}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {

	.community-input{padding-left:0 !important; padding-bottom:40px;}
	
	header[role="header"]{ padding:8% 0;}

	header[role="header"] nav ul{ padding-top:10%}

	main[role="main-home-wrapper"] article[role="pge-title-content"],main[role="main-inner-wrapper"] article[role="pge-title-content"]{ padding-left:0}

	main[role="main-home-wrapper"] article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{ padding-top:0}

	main[role="main-home-wrapper"] article[role="pge-title-content"] header h2,main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2{ font-size:34px}

	main[role="main-home-wrapper"] article p br{ display:none}

	footer[role="footer"]{ padding:30px 0}

	footer[role="footer"] nav{ padding:15px 0}

	main[role="main-inner-wrapper"] .about-content{ padding:5%}

	main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption{ margin:0 10%}

	section.blog-content figure .post-date{ padding-top:20px; height:100px; width:100px}

	article.contact-header[role="pge-title-content"] p a{padding-right:10px}

	.contat-from-wrapper{ margin-top:10px; padding:0 15px}

	.grid-lod li{ width:100% !important; position:static !important; display:inline-block}

	.grid-lod li img{ width:100%}

	.work-details,.blog-details{ padding:0; margin-top:0 }

	.comments-reply li section{ width:88%}
	
	.navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; margin-right:4px;}
	
	.form-control 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out . 15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
	.btn-default {
/* 	color: #333;  */
	background-color: transparent; 
/* 	border-color: #ccc !important; */
	}

.btn {
    display: inline-block;
/*     padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sub-container .sub-content { padding: 30px 15px 80px;}

.navbar-form {
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
	
.tool-box-frame-resp{
	padding-right:0px;
	padding-bottom:0px;
}

.community-search-button{padding: 6px 12px;}

}

/* xs */

@media (max-width: 767px) {
	
	.community-input{padding-left:0 !important; padding-bottom:40px;}

	header[role="header"]{ padding:8% 0;}

	header[role="header"] nav ul{ padding-top:10%}

	header[role="header"] nav ul > li{ font-size:30px;}

	header[role="header"] nav ul > li > a{ line-height:55px}

	main[role="main-home-wrapper"] article[role="pge-title-content"],main[role="main-inner-wrapper"] article[role="pge-title-content"]{ padding-left:0}

	main[role="main-home-wrapper"] article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{ padding-top:10px}

	main[role="main-home-wrapper"] article[role="pge-title-content"] header h2,main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2{ font-size:22px}

	main[role="main-home-wrapper"] article[role="pge-title-content"] header h2 span, main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 span{ font-size:40px;}

	main[role="main-home-wrapper"] article{ padding-bottom:30px}

	main[role="main-home-wrapper"] article p br{ display:none}
	
	main[role="main-home-wrapper"] article[role="pge-title-content"] p, main[role="main-inner-wrapper"] article[role="pge-title-content"] p{font-size:19px;}

	footer[role="footer"]{ padding:40px 0}

	footer[role="footer"] nav{ padding:15px 0}

	main[role="main-inner-wrapper"] .about-content{ padding:5%}

	main[role="main-inner-wrapper"] .thumbnails-pan section figure{ margin-bottom:20px}

	article[role="pge-title-content"].blog-header,article[role="pge-title-content"].contact-header{ padding-bottom:30px}

	section.blog-content figure .post-date{ padding-top:20px; height:100px; width:100px}

	section.blog-content article{ padding:2% 5%; font-size:18px; line-height:24px;font-family: 'proxima_nova_cn_rgregular';}

	article.contact-header[role="pge-title-content"] p a{ font-size:18px; padding-right:10px}

	.contat-from-wrapper{ margin-top:10px; padding:0 15px}

	.contat-from-wrapper input[type="text"], .contat-from-wrapper input[type="email"]{ margin-bottom:20px}

	.contat-from-wrapper textarea{ margin-top:0}

	.work-details,.blog-details{ padding:0; margin-top:100px;}

	.work-images{ margin-top:0}

	.work-images li{ margin-bottom:0; width:100%}

	.work-images li figcaption h2{ font-size:18px;}

	.grid-lod li{ width:100% !important; position:static !important}

	.bog-header h3, .comments-pan h3, .commentys-form h4{ padding-bottom:0}

	.bog-header h2{ font-size:18px; line-height:26px}

	.bog-header{ padding-bottom:20px}

	.blog-details .enter-content{ margin-top:10px}

	.blog-details .enter-content p,.comments-reply li section{ font-size:14px; line-height:26px; margin-left: 20px; margin-right: 20px;}

	.comments-pan h3{ padding-bottom:20px; margin-top:0}

	.comments-reply li section{ float:none; width:auto; padding-left:0}

	.comments-reply li figure{ margin-right:20px}

	.reply-pan{ margin-left:20px}

	.commentys-form input[type="text"], .commentys-form input[type="email"], .commentys-form input[type="url"], .commentys-form textarea{ margin-bottom:20px}

	.commentys-form textarea{ margin-top:0; margin-bottom:0}

		.detail-main-img{ max-height:27rem }
		
	.comments-pan{margin-left: 20px; margin-right: 20px;}
	
	.navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; margin-right:4px;}
	
	.form-control 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out . 15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
	.btn-default {
/* 	color: #333; */
	 background-color: transparent; 
/* 	 border-color: #ccc !important; */
	 }

.btn {
    display: inline-block;
/*     padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sub-container .sub-content { padding: 30px 15px 80px;}

.navbar-form {
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.tool-box-frame-resp{padding-right:0px;	padding-bottom:0px;}
.community-search-button{padding: 6px 12px;}
.main-img-size {width: 555px !important; height: 250px !important;}
.padding-top-ninety{padding-top:0px;}