.list_board_section .list_area li.board_box {
	display: table;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
	word-break: break-all;
	word-wrap: break-word;
}

.txt_area {
	display: table-cell;
	width: 100%;
	padding: 14px 13px;
}

.list_board_section .list_area li.board_box .thumb_area {
	display: table-cell;
	width: 57px;
	padding-right: 9px;
	vertical-align: top;
}

.list_board_section .list_area li.board_box .link_comment {
	display: table-cell;
	min-width: 50px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
}

.num {
	display: block;
	margin-top: 12px;
	font-size: 15px;
}

.style-normal{
	font-style:normal;
}

.clear-both{
	clear: both;
}


.list_area{
    margin-left: auto;
    margin-right: auto;
	}

@media ( min-width : 1024px) {
	.list_board_section .list_area {
		width: 65%;
	}
}

.top-padding-community {
	padding-top: 48px;
}

.table-title{
	font-weight:bold;
	}
	
.ellip {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-height: 1.2
}